.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #aaaaaa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login-Button {
  marginLeft: 'auto'
}

.App-link {
  color: #09d3ac;
}

.Ontology-Circle {
    stroke: #05668D;
    opacity: 1.0;
    stroke-width: 1px;
}

.Ontology-Path {
    fill: none;
    stroke: #05668D;
    opacity: 1.0;
    stroke-width: 4px;
}

.Tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.Tooltip.hidden {
    display: none;
}

.Tooltip p {
    margin: 0;
    font-family: Futura;
    font-size: 16px;
    line-height: 20px;
}